<b>Linux Ubuntu System Requirements</b>

<p>Ubuntu Desktop Edition
<p>700 MHz processor (about Intel Celeron or better)
<p>512 MiB RAM (system memory)
<p>5 GB of hard-drive space (or USB stick, memory card or external drive but see LiveCD for an alternative approach)
<p>VGA capable of 1024x768 screen resolution.
<p>Either a CD/DVD drive or a USB port for the installer media.