<b>Mac OS Lion System Requirements</b>

<p>An Intel Core 2 Duo, Core i3, Core i5, Core i7, or Xeon processor.
<p>Mac OS X v10.6.6 or later to install via the Mac App Store (v10.6.8 recommended)
<p>7 GB of available disk space.
<p>2 GB of RAM.