<b>Windows Vista System Requirements</b>

<p>800-megahertz (MHz) 32-bit (x86) processor or 800-MHz 64-bit (x64) processor.
<p>512 megabytes (MB) of system memory. ...
<p>DirectX 9-class graphics card.
<p>32 MB of graphics memory.
<p>20-gigabyte (GB) hard disk that has 15 GB of free hard disk space.
<p>Internal or external DVD drive.
<p>Internet access capability.
<p>Audio output capability.