<b>Windows 7 System Requirements</b>

<p>If you want to run Windows 7 on your PC, here's what it takes:
<p>1 gigahertz (GHz) or faster 32-bit (x86) or 64-bit (x64) processor*
<p>1 gigabyte (GB) RAM (32-bit) or 2 GB RAM (64-bit)
<p>16 GB available hard disk space (32-bit) or 20 GB (64-bit)
<p>DirectX 9 graphics device with WDDM 1.0 or higher driver.