<b>Windows Xp System Requirements</b>

<p>The minimum hardware requirements for Windows XP Home Edition are:
<p>Pentium 233-megahertz (MHz) processor or faster (300 MHz is recommended)
<p>At least 64 megabytes (MB) of RAM (128 MB is recommended)
<p>At least 1.5 gigabytes (GB) of available space on the hard disk.
<p>CD-ROM or DVD-ROM drive.</p>